NAGAD_APP_ENV                     = development
NAGAD_APP_LOG                     = 1
NAGAD_APP_ACCOUNT                 =
NAGAD_APP_MERCHANTID              =
NAGAD_APP_MERCHANT_PRIVATE_KEY    =
NAGAD_APP_MERCHANT_PG_PUBLIC_KEY  =
NAGAD_APP_TIMEZONE                = Asia/Dhaka